{% include 'header.html' %}



<style>
  #H {

    height: 140px;
    background-image: url(/static/3.3.gif);

    background-size: cover;
    background-position: bottom;
    position: relative;
    top: 5px;




  }

  .add {
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: -30px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f8f9fa;

  }

  .box1:hover .add {
    bottom: 0px;
    opacity: 1;
    transition: 1s;
  }

  .sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(ellipse 50% 35% at 50% 50%,
        #f804bf,
        transparent);
    transform: translate(-50%, -50%);
    letter-spacing: 10;
    left: 50%;
    top: 50%;
    font-family: cursive;
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #d968bd,
      -0.2rem 0.1rem 1rem #de3dc1, 0.2rem 0.1rem 1rem #e53ab5,
      0 -0.5rem 2rem #d40fd4, 0 0.5rem 3rem #f804bf;
    animation: shine 2s forwards, flicker 3s infinite;
  }

  @media only screen and (max-width: 821px) {

    #H {
      top: 5px;
    }

    .sign {
      font-size: 4em;

    }


  }

  @media only screen and (max-width: 550px) {
    #H {
      height: 100px;
      top: 5px;
    }

    .sign {
      font-size: 2em;

    }

  }

  @media only screen and (max-width: 550px) {
    .col-auto {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: fit-content;
    }

  }






  @keyframes blink {

    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #d968bd,
        -0.2rem 0.1rem 1rem #de3dc1, 0.2rem 0.1rem 1rem #e53ab5,
        0 -0.5rem 2rem #d40fd4, 0 0.5rem 3rem #f804bf;
    }

    28%,
    33% {
      color: #f804bf;
      text-shadow: none;
    }

    82%,
    97% {
      color: #f804bf;
      text-shadow: none;
    }
  }

  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }

  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }

  @keyframes shine {
    0% {
      color: #f804bf;
      text-shadow: none;
    }

    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #d968bd,
        -0.2rem 0.1rem 1rem #de3dc1, 0.2rem 0.1rem 1rem #e53ab5,
        0 -0.5rem 2rem #d40fd4, 0 0.5rem 3rem #f804bf;
    }
  }

  @keyframes flicker {
    from {
      opacity: 1;
    }

    4% {
      opacity: 0.9;
    }

    6% {
      opacity: 0.85;
    }

    8% {
      opacity: 0.95;
    }

    10% {
      opacity: 0.9;
    }

    11% {
      opacity: 0.922;
    }

    12% {
      opacity: 0.9;
    }

    14% {
      opacity: 0.95;
    }

    16% {
      opacity: 0.98;
    }

    17% {
      opacity: 0.9;
    }

    19% {
      opacity: 0.93;
    }

    20% {
      opacity: 0.99;
    }

    24% {
      opacity: 1;
    }

    26% {
      opacity: 0.94;
    }

    28% {
      opacity: 0.98;
    }

    37% {
      opacity: 0.93;
    }

    38% {
      opacity: 0.5;
    }

    39% {
      opacity: 0.96;
    }

    42% {
      opacity: 1;
    }

    44% {
      opacity: 0.97;
    }

    46% {
      opacity: 0.94;
    }

    56% {
      opacity: 0.9;
    }

    58% {
      opacity: 0.9;
    }

    60% {
      opacity: 0.99;
    }

    68% {
      opacity: 1;
    }

    70% {
      opacity: 0.9;
    }

    72% {
      opacity: 0.95;
    }

    93% {
      opacity: 0.93;
    }

    95% {
      opacity: 0.95;
    }

    97% {
      opacity: 0.93;
    }

    to {
      opacity: 1;
    }
  }

  #mark {
    color: rgb(245, 7, 7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #box3 {
    height: 450px;
    border: 1px;
    background-color: #f8f9fa;



  }

  .box4 {
    width: 100%;
    height: 40px;
    border: 1px;
    background-color: #f8f9fa
  }

  .box5 {
    width: 100%;
    height: 1000px;
    border: 1px;
    background-color: #e7eef5;
    stop-opacity: inherit;
    overflow: scroll;


  }
</style>

<div class="container-fluid">
  <div class="row justify-content-center" id="H">

    <input type="button" name="" value="MENU" class="add" />
    <div class="col-md-10">
      <div class="sign">
        <span class="fast-flicker">&hearts;MAGIC</span>STO<span class="flicker">RIES</span>
      </div>
    </div>
  </div>
  <!---box1closeing-->
  <div class="row ">
    <div class="col">
      <marquee id="mark" scrollamount="10">Click On Store for Buy 20% Discount
        </marquee>
    </div>
  </div>
  <!--box2closeing-->
  <div class="row justify-content-center" id="box3">
    <div class="col d-none d-lg-block">
      <div class="card">
        <img class="card-img-top" class="img-fluid" src="/static/ab.gif" alt="Card image cap" />
        <div class="card-body">
          <h6 class="card-title">Mistake inside by James Blish</h6>
          <p class="card-text">Fantasy fiction,Magic -- Fiction,United States :Better Publications, Inc.,1948.
            <span class="badge badge-danger" ><a href="/home" class="text-white">New</a></span></p>

        </div>
      </div>
    </div>

    <!---box-col1closeing-->


    <div class="col-auto">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" class="img-fluid" src="/static/card.gif" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <b>DON'T MISS THIS MONTH'S HITS!!!</b>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" class="img-fluid" src="/static/card.gif" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <b>DON'T MISS THIS MONTH'S HITS!!!</b>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" class="img-fluid" src="/static/card.gif" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <b>DON'T MISS THIS MONTH'S HITS!!!</b>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
    <!--box3-col2closeing-->


    <div class="col d-none d-lg-block">
      <div class="card">
        <img class="card-img-top" class="img-fluid" src="/static/ab.gif" alt="Card image cap" />
        <div class="card-body">
          <h6 class="card-title">The Seven Deadly Sins</h6>
          <p class="card-text">ranked 18 of 72 on The Best Shounen Anime Of All Time who might be able to defeat the
            Holy Knights<span class="badge badge-danger" ><a href="/home" class="text-white">New</a></span></p>

        </div>
      </div>
    </div>
    <!--box3-col3closeing-->
  </div>

  <!---box3closeing-->

  <div class="row justify-content-around ">
    <div class="col-md-5">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Free read</div>
        <div class="card-body">
          <h5 class="card-title">जादुई मछली की कहानी</h5>
          <details>
            <p>
              Magical Golden Fish Story | जादुई मछली की कहानी | Hindi Fairy Tales
              एक समय में गोल्डन फिशऑन बड़े नीले समुद्र के किनारे पर एक मछुआरे और उसकी पत्नी के साथ रहता था। मछुआरा
              मेहनती और
              ईमानदार था..और अपनी पत्नी से बहुत प्यार करता था। उसने हर रोज मछली पकड़ कर अपना जीवन यापन किया..

              लेकिन उसकी पत्नी की शिकायतें कभी नहीं मिटतीं..क्योंकि हम कबूतर बनकर जीने वाले हैं? मैं इस जगह से बहुत तंग
              आ चुका
              हूं।
              <a class="bg-dark" href="/story">Read+</a>
            </p>
          </details>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Free read</div>
        <div class="card-body">
          <h5 class="card-title">The Magic Mirror Story</h5>
          <details>
            <p>It was told throughout the kingdom of Granada that the king was ready to marry. He would marry the most
              worthy woman of the land, of course. First, the news was told to the court barber, then it was told to the
              night watchmen, and then to all the old women who sold fruit and cloth at the market.
              <a class="bg-dark" href="/story2">Read+</a>
            </p>
          </details>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card-body">
      <h5 class="card-title">Fairy Tail</h5>
      <p class="card-text">In a world where magic is part of everyday life, magical guilds take on job requests ranging
        from simple to complex. The Fairy Tail guild is a ragtag bunch of mages with different goals - for example,
        Natsu wants to find his father, and Lucy wants to collect celestial gate keys and become a professional wizard.

      </p>
      <p class="card-text"><small class="text-muted">Buy now 16,443Votes </small> <a href="/home"> Store+ </a></p>
    </div>
  </div>
  <div class="col-md-4">
    <img src="/static/5.jpg" class="img-fluid " alt="...">
  </div>

</div>


<div class="row justify-content-center">
  <div class="col-md-4">
    <img src="/static/89.jpg" class="img-fluid d-none d-sm-block" alt="...">
  </div>
  <div class="col-md-7 ">
    <div class="card-body">
      <h5 class="card-title">Black Clover</h5>
      <p class="card-text">All Asta wants in life is to become the Wizard King - but with no magical aptitude
        manifesting, his goal seems remarkably out of reach. One day, he unexpectedly receives a grimoire decorated with
        a five-leaf clover.</p>
      <p class="card-text"><small class="text-muted">Buy now 23,043 Votes </small> <a href="/home"> Store+ </a></p>
    </div>
  </div>
</div>






<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card-body">
      <h5 class="card-title">That Time I Got Reincarnated As A Slime</h5>
      <p class="card-text">Satoru Mikami is an ordinary 37-year-old man until he loses his life to a goon and ends up
        being reincarnated in a fantasy world rife with incredible magic. Unfortunately for him, he isn't reincarnated
        into a powerful magical being.</p>
      <p class="card-text"><small class="text-muted">Buy now 15,000 Votes </small> <a href="/home"> Store+ </a></p>
    </div>
  </div>
  <div class="col-md-4">
    <img src="/static/101.jpg" class="img-fluid " alt="...">
  </div>

</div>


<div class="row justify-content-center">
  <div class="col-md-4">
    <img src="/static/100.jpg" class="img-fluid  d-none d-sm-block" alt="...">
  </div>
  <div class="col-md-7 ">
    <div class="card-body">
      <h5 class="card-title">The Irregular At Magic High School</h5>
      <p class="card-text">At First High School, magic is taught just like any other technical skill - but some people
        are far more adept than others. Tatsuya Shiba is judged to be magically inept, but he carefully employs his
        ingenuity, strange techniques, and powerful physical abilities to make up for this weakness.</p>
      <p class="card-text"><small class="text-muted">Buy now 10,000 Votes </small> <a href="/home"> Store+ </a></p>
    </div>
  </div>
</div>



</div>



{% include 'footer.html' %}