{% include 'header.html' %}

<div class="container">
    <div class="row">

        The court barber told all his customers, who again told all their friends. The night watchmen shouted the news
        in such a loud voice, that all the young ladies were woken up, thinking of the exciting news. In the day, the
        old women merchants constantly reminded the young ladies that the king had decided to marry.

        Everyone asked, "How will the king choose a wife?" The barber replied, "To find a worthy woman, I am afraid I
        will have great trouble."

        "What, YOU?" they questioned. "What have YOU got to do with helping the king find a wife?"

        "I am the only man closest to the king,” he said. "And I have a magic mirror. If any woman who is not pure of
        heart looks into my mirror, spots of her dishonest character will show in her reflection."

        "Is looking into your mirror one of the conditions to marry the king?" asked all.

        "That is the only condition," replied the barber, placing his thumbs in the armholds of his waistcoat and
        looking very wise.

        "Is there a limit as to age?" they asked.

        "Any woman from 18 years upwards is eligible," said the barber.

        "Then you will have every woman in Granada jumping at the chance to be queen!" the women shouted.

        "This is true, but each woman will have to gaze into the mirror with me by her side," he said.

        The one condition for those who wanted to become Queen of Granada was shared throughout the land. Many laughed,
        but not one woman came forward to the barber to have a look into the mirror.

        Days and weeks went by. The king was no closer to getting a wife. Some ladies would try to convince their
        friends to go before the mirror, but none were brave enough to try.

        The king, you should know, was a very handsome man, and was well loved by all his subjects for his many virtues.
        Therefore it was very surprising that none of the lovely ladies in the kingdom would at least try to become his
        wife.

        Many excuses and explanations were given. Some were already engaged to be married. Others said they were too
        proud to enter the barber's shop. Still others told their friends that they had decided it would be better to
        stay single.

        Every morning the king would ask the barber if any young lady had come forward to look into the mirror, but the
        answer was always the same - that many watched his barbershop to see if others went inside, but none had been
        brave enough to come in herself.

        "Ah, Granada, Granada!" said the king. "Is there no maiden in this land who wants to be my bride? In other
        lands, kings have no trouble in finding a worthy young woman to marry. Why is this happening to me?

        "Barber!" shouted the king, "you shall get me a wife as bright as the day, as pure as dew, and as good as gold -
        one who will not be afraid to look into your magic mirror!"

        "Your Majesty," replied the barber, "There is one chance. There is a lonely shepherd girl who lives by herself
        far away on the mountainside. She may be brave enough to look in the magic mirror, but would you marry a girl of
        such low birth?"

        "Bid her to come," answered the king. "Before my assembled court, let the shepherd girl look into the mirror
        after you have told her what may happen if she dares to look."

        Soon the barber had brought the young woman to court. The whole kingdom filled the royal hall to see the girl
        who was so brave and proud as to look into the magic mirror.

        When the girl entered the royal hall, she felt very shy from being surrounded by so many beautiful men and
        women. The king was very pleased with her appearance, and received her kindly. He reminded her that if she
        wanted to be his wife, she would have to gaze into the magic mirror. If she had done anything dishonest which
        would show a lack of virtue, the mirror would show as many dark spots on its surface as there might be in her
        past.

        "Sir," replied the young lady, "everyone makes mistakes, and I am no different. I've made mistakes with my
        flock. But they must forgive me because every day they let me take care of them all over again. If they think
        danger is coming, they come to me to protect them. I love my sheep and do my best for them. With all due
        respect, Sire, I have no great desire to become queen. But I am not afraid to look into that magic mirror."

        Saying this, she walked up to the mirror and gazed into it, blushing slightly, perhaps at the sight of her own
        reflection.

        The court ladies surrounded her. When they saw that the magic mirror showed no stains on its surface, they
        snatched it from her, passing the mirror back and forth from one lady to another. They shouted, "Look! There is
        no magic in this mirror - a trick has been played on us!"

        But the king said, "No ladies, you have only yourselves to thank. If you had been as confident in herself as
        this young lady, who is now going to be my queen, you too would not have been afraid to look into the mirror."



        end
    </div>
</div>


{% include 'footer.html' %}