{% include 'header.html' %}

<div class="container">
  <div class="row">

    Magical Golden Fish Story | जादुई मछली की कहानी | Hindi Fairy Tales
    एक समय में गोल्डन फिशऑन बड़े नीले समुद्र के किनारे पर एक मछुआरे और उसकी पत्नी के साथ रहता था। मछुआरा मेहनती और
    ईमानदार था..और अपनी पत्नी से बहुत प्यार करता था। उसने हर रोज मछली पकड़ कर अपना जीवन यापन किया..

    लेकिन उसकी पत्नी की शिकायतें कभी नहीं मिटतीं..क्योंकि हम कबूतर बनकर जीने वाले हैं? मैं इस जगह से बहुत तंग आ चुका
    हूं।

    प्रिय। कृपया मुझे बताएं कि आप क्या करेंगे? ऐसा है क्या? फिर तुम मुझे इस बदबूदार झोंपड़ी से बाहर निकालो। कितनी बुरी
    तरह से बदबू आ रही है..मैं कितना भी कोशिश करूं, इस जगह से बदबू कभी नहीं आती..हम्मो ठीक दिन, मछुआरे हमेशा की तरह मछली
    पकड़ने गए थे।

    हालांकि, मछुआरा एक भी मछली को पकड़ने में असमर्थ था। हम्म … लगता है कि मुझे आज खाली पेट सोना पड़ेगा .. अचानक .. उसकी
    मछली पकड़ने की छड़ी असली गहरी खींच गई। मछुआरे ने अपनी मछली पकड़ने वाली छड़ी को मुश्किल से हिलाया।

    लेकिन उसने सिर्फ एक छोटी सी सुंदर मछली देखी। यह मछली सुंदर थी और इसके सुनहरे रंग की चमक थी। ओह, वाह। यह मछली इतनी
    चमकीली चमकती है।

    ये बहुत ही सुन्दर है। अरे, प्रिय मित्र! क्या आप सोच रहे हैं कि मैं इतना भारी कैसे हो सकता हूं? क्या आपने अभी बोल
    दिया? हाँ। मैं कोई साधारण मछली नहीं हूं, मेरे प्रिय मित्र। मेरे पास जादुई शक्तियां हैं जो मुझे छोटे से भारी और
    उज्ज्वल बनाती हैं।


    और हे, मैं तुम्हारे बारे में सब कुछ जानता हूं। मछुआरा आश्चर्यजनक रूप से अपने आप को वास्तविक जीवन में एक रानी के रूप
    में देख रहा था। लेकिन मुझे जाने दो, मेरे दोस्त को मत मारो, कृपया मुझे वापस समुद्र में डाल दो।

    कृपया मुझे जाने दीजिये। आप गोल्डन फिश में जा सकते हैं। मैं आपको कोई नुकसान नहीं पहुँचाऊँगा धन्यवाद। आप एक दयालु आदमी
    हैं। मछुआरा वापस अपने घर चला गया। मछुआरा अपनी पत्नी को इस अजीब घटना को बयान करने के लिए घर चला गया। यह क्या है?

    आप आज किसी भी मछलियों को नहीं पकड़ सकते? फिर हमारा डिनर क्या होगा, मिस्टर? नहीं … मैंने आज एक सुनहरी मछली पकड़ी,
    उसके लिए एक चमकदार और चमकदार मछली। पागल जैसा लगता है, लेकिन मछली एक इंसान की तरह बोली।

    क्या? एक सुनहरी मछली जो बोल सकती थी? हां..और मछली ने मुझे बताया कि यह वास्तव में एक रानी थी। क्या? और आपने इसे जाने
    दिया? माध्यम। क्या आप नहीं जानते कि हम कितने गरीब हैं? चारों ओर देखो! हम सब इस बदबूदार झोपड़ी है। तुम इतने मूर्ख हो
    कि तुमने उसकी जिंदगी बख्शने की इच्छा नहीं की।

    कम से कम आप एक उचित घर के लिए पूछ सकते थे। हनी, हमें जो कुछ भी है उसके साथ संतुष्ट होना चाहिए। मैं कुछ भी सुनना नहीं
    चाहता..बस जाओ और पूछो या वरना मुझसे बात मत करो। मछुआरा समुद्र के किनारे आधे-अधूरे मन से गया। मछुआरे के तट पर पहुंचने
    पर यह लगभग अंधेरा और उदास था।

    अजीब तरह से .. सारा समुद्री पानी हरा हो गया था..ओह, गोल्डन फिश। क्या तुम मेरी बात सुन सकते हो? मुझे आपकी मदद चाहिए।
    अब हम जिस जगह पर रह रहे हैं, उससे मेरी पत्नी दुखी है। वह आरामदायक झोपड़ी चाहती है। क्या तुम…?? घर जाओ .. मेरे दोस्त।
    आपकी पत्नी झोपड़ी में है, जैसा कि हम बोलते हैं।

    मछुआरा चकित हो गया और अपने घर की ओर भागा। वह अपनी झोपड़ी को एक खूबसूरत कुटिया में बदल गया। डार्लिंग, क्या तुम अब खुश
    हो? हम यहां हमेशा के लिए रह सकते हैं। वाह … हम यहाँ हमेशा के लिए रह सकते हैं? एक हफ्ता बीत गया और अब उसकी पत्नी और
    ज्यादा तरसने लगी।


    सुप्रभात प्रिय। अब मेरी बात ध्यान से सुनो। यह झोपड़ी छोटी है। अब मैं एक महल चाहता हूँ..और मैं रानी बनना चाहता
    हूँ..है और मछली से कहता हूँ कि हम एक हवेली चाहते हैं और मैं इसकी रानी बनूंगी। क्या? एक रानी? हमारे पास एक अच्छा बड़ा
    घर था।

    मुझे फैसला करने दो कि जाओ और … जैसा मैं कहूँ वैसा करो! मछुआरे को कोई अंदाजा नहीं है कि उसे क्या करना है। वह समुद्र
    की ओर चला गया..उसने पाया कि वह जगह तूफानी और अजीब हो गई थी।

    वास्तव में, पानी का रंग लाल हो गया था। मछुआरा डर गया, लेकिन उसने पुकारा … ओह, गोल्डन मछली। मेरी बात सुनो! आह! मेरी
    पत्नी अभी भी दुखी है। वह क्या चाहती है? वह एक महल में रहना चाहती है और रानी बनना चाहती है। वह पहले से ही शाही
    सिंहासन पर बैठी है।

    मछुआरा घूम कर घर जाने लगा। जब वह घर लौटा तो उसे एक शानदार महल मिला। कमरे शाही फर्नीचर से भरे थे और फर्श पर सफेद
    संगमरमर बिखरा हुआ था। नौकरानियों के बारे में सब सुन रहे थे।

    मछुआरों की प्यारी पत्नी शाही सिंहासन पर बैठी थी। सबसे खूबसूरत और अमीर गाउन में थी। उसने सिर पर चमकदार ताज पहना हुआ
    था। अभिवादन, मिलादी। तुम अब रानी हो। हां, मैं अब रानी हूं। क्या आप अब खुश हैं? नहीं … मैं नहीं चाहता कि कोई मेरे ऊपर
    शासन करे! सभी भूमि और समुद्रों की रानी बनना चाहते हैं! क्या? आप भी क्या कह रहे हैं? यह नामुमकिन है।

    मछली आपकी मूर्खतापूर्ण इच्छा को पूरा नहीं कर सकती है। आप उस मछली के बारे में कुछ नहीं जानते … और नहीं कहेंगे। बस जाओ
    और मछली को मेरी शाही इच्छा के बारे में बताओ। मछुआरे के पास कोई विकल्प नहीं था और वह फिर से समुद्र में चला गया।
    समुद्र एक अलग रंग था, शांत या हरा या नीला नहीं।

    उसने उस कारण का अनुमान लगाने की कोशिश की, सुनहरी मछली मेरी बात सुन! मेरी पत्नी अभी भी दुखी है! ऐसा क्या है जो वह अब
    चाहती है? वह सभी भूमि और समुद्रों की रानी बनना चाहती है।



    वह सभी पर शासन करना चाहती है..अब घर पर, क्योंकि वह पहले से ही सभी भूमि और समुद्रों की रानी है। जब वह घर की ओर चला,
    मछुआरा एक सुंदर महल देख सकता था। महल के दरवाजे शानदार सोने से बने थे।

    विशाल हॉल के अंदर, उसकी पत्नी एक बुलंद सिंहासन पर बैठी थी। ओह, एक आश्चर्यजनक राजदंड उसने अपने हाथ में धारण किया।
    उसके हर तरफ नौकर खड़े थे। डार्लिंग, तुम सभी भूमि और समुद्रों की रानी हो। मुझे अपनी आँखों पर विश्वास नहीं हो रहा। खैर
    … मैं सभी भूमि और समुद्र की रानी हूं।

    क्या मैंने आपको नहीं बताया कि मछली मेरी शाही इच्छा को पूरा करेगी? गरीब मछुआरे को उम्मीद थी कि उसकी पत्नी अधिक समय तक
    कुछ नहीं करेगी। हाँ तुमने किया।

    लेकिन क्या आप अब खुश हैं? हम्म, मुझे नहीं पता। और पत्नी मदद नहीं कर सकती थी लेकिन यह सोचती थी कि और क्या उसे खुश
    करेगा। और पत्नी मदद नहीं कर सकती थी लेकिन यह सोचती थी कि और क्या उसे खुश करेगा। कई सप्ताह बीत गए। वह अपनी अगली चाल
    की योजना बनाकर रातों की नींद हराम करती।

    अंतहीन विचारों से तंग आकर, आखिरकार वह सो गई। क्या! यह पहले से ही दिन है? सूरज को पता होना चाहिए कि मैं पूरी तरह से
    हफ्तों तक सोया नहीं था..मेरे सूरज को कैसे नींद आती है।

    मछुआरे की पत्नी ने गुस्से में अपने पति को जगाया और कहा … अब उठो, क्योंकि मुझे पता है कि मेरी खुशी कहां है। सूरज मेरे
    कहने के बिना उगता है और चंद्रमा भी ऐसा ही करता है। हां, मैं सूर्य और चंद्रमा को नियंत्रित करना चाहता हूं, और
    ब्रह्मांड जो दावा करता है, वह सब कुछ है। क्या? यह असंभव है।

    मुझे नहीं लगता कि इसके बारे में लाया जा सकता है। मैं वहां दोबारा नहीं जा सकता और अपनी जान जोखिम में डाल सकता हूं।
    कुछ भी बुरा नहीं होगा। यह हमारे भले के लिए है।

    मुझे पता है कि मछली यह कर सकती है। अब बस जाओ और मुझे सबसे शक्तिशाली व्यक्ति बनाओ! क्या? क्या आप पहचानते हैं .. कि आप
    क्या चाह रहे हैं..मैं कुछ भी सुनना नहीं चाहता। तुम अब जाओ, या मैं तुमसे बात नहीं करूंगा। मछुआरा अपनी पत्नी से प्यार
    करता है। वह बस उसे खुश करना चाहता है।

    लेकिन वह जान रहा था कि जो भी हो रहा है। यह गलत है.. मछुआरा फिर समुद्र की ओर चला गया। तूफानी बादलों के साथ आसमान काला
    था और समुद्र में बड़ी-बड़ी काली लहरें उठ रही थीं।


    अरे नहीं! यहां क्या हो रहा है? ओह, गोल्डन फिश, मेरी बात सुनो। मुझे माफ़ कर दें। फिर भी, मेरी पत्नी खुश नहीं है। वह
    क्या चाहती है। मेरी पत्नी अब सूर्य और चंद्रमा को आज्ञा देना चाहती है। हम्म … तो यह रहो। आपकी पत्नी को उपहार मिला है।
    मुझे आश्चर्य है कि मेरी पत्नी अब तक क्या है। मछुआरा अपने महल में पहुँचा, लेकिन वहाँ किसी को भी नहीं पाया।

    महल पूरी तरह से खाली था। प्रिय पत्नी … तुम कहाँ हो? आप कहाँ हैं? मछुआरा फिर समुद्र की ओर दौड़ा। समुद्र अब शांत और
    नीला था। ओह गोल्डन फिश, क्या तुम मुझे सुन सकते हो?

    क्या आप मुझे बता सकते हैं कि मेरी पत्नी कहाँ है? मैंने उसे सर्व-शक्तिमान और सर्वोच्च बनाया है। अब वह अदृश्य है
    क्योंकि कोई भी सबसे शक्तिशाली नहीं देख सकता है..नहीं … कृपया मुझे ऐसा न करें..मुझे मेरी पत्नी वापस कर दें। माफ़ करना
    दोस्त। प्रिय मित्र, लेकिन एक बार दी गई इच्छा को चालू नहीं किया जा सकता।

    कृपया ऐसा न करें। मुझे पता है कि आपने मेरी पत्नी की सभी इच्छाओं को पूरा किया है।

    लेकिन मैं यह अनुरोध करता हूं, क्योंकि मैंने एक बार आपकी जान बचाई थी। कृपया मुझे यह इच्छा प्रदान करें, ओह गोल्डन फिश।
    हां, आपने वास्तव में मुझे जीवन दिया है। अब आप मुझसे कुछ भी मांग सकते हैं। मेरी इच्छा बस इतनी है कि मेरी पत्नी मेरे
    साथ हो और वह हमेशा के लिए मेरे साथ खुश रहे..जल्दी से।

    उसके घर जाओ और उसकी तरफ से रहो। अब तुम दोनों हमेशा के लिए खुश रहोगे! मछुआरा घर लौट आया, केवल वह जो देखता है उससे
    आश्चर्यचकित हो गया।

    वह अपने अच्छे पुराने कोब घर में पाया, उसकी पत्नी प्रवेश द्वार पर उसका इंतजार कर रही थी। पत्नी अपने पति की ओर दौड़ी
    और उसने जो किया उसके लिए सॉरी कहा। और उस दिन के बाद से, मछुआरे की पत्नी ने अपने पति से कभी कोई मांग नहीं की।


    Magical Golden Fish Story
    वे अपने छोटे कोब घर में खुशी से रहते थे और हर दिन उनके आशीर्वाद की गिनती करते थे।

    दोस्तों, इस कहानी का नैतिक है : “आपको अपने आप से खुश होना चाहिए!”
  </div>
</div>


{% include 'footer.html' %}